/*-- scss:defaults --*/
// Base Colours
$white: #FFFFFF;
$primary: #1f77b1;
//$primary: #002145;

//$navbar-dark: $white;
//$navbar-brand: $white;




//Callouts

$callout-color-note: #9cd9f7;
$callout-color-tip: #b9d1af;
$callout-color-warning: #f1b6b6;
